.about{

  margin-bottom: 112px;

  .aboutWrapper{

    display: flex;
    align-items: center;
    justify-content: space-between;

    .aboutInfo{

      .title{
        font-size: 36px;
      }
      .subtitle{
        font-weight: 300;
        font-size: 36px;
        margin-bottom: 42px;
      }
      .text{
        width: 630px;
        line-height: 1.7;
        margin-bottom: 28px;
      }
    }

    &:before, &:after{
      position: absolute;
      z-index: -1;
    }

    &:before{
      content: url("../../../img/design/Vector 7-about.svg");
      left: -80px;
      bottom: 275px;
    }

    &:after{
      content: url("../../../img/design/Vector 8-about.svg");
      bottom: 32px;
      left: -90px;
    }
  }

}