.footer{

    margin-bottom: 59px;
    font-weight: 700;

    .contactList{

      display: grid;
      grid-template-columns: repeat(4,1fr);
      justify-items: center;
      margin-bottom: 73px;

      .listItem{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 192px;
        position: relative;

        .socialLinks{
          display: flex;
          align-items: center;
          gap: 20px;
        }

        .title{
          font-size: 16px;
        }

        &:not(&:last-child):before{
          content: url("../../img/design/footer-vertical-line.svg");
          position: absolute;
          right: -85px;
        }

      }

    }

  .copyright{
    margin-top: 49px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.82px;
  }

  &:after, &:before{
    position: absolute;
    z-index: -1;
  }

  &:after{
    content: url("../../img/design/Vector 9-footer.svg");
    top: -320px;
    left: -60px;
  }
  &:before{
    content: url("../../img/design/Vector 10-footer.svg");
    top: -55px;
    left: -40px;
  }

}